@media (max-width: 1199.98px) {
  /* ============= responsive navbar css start =========== */
  #navbar_part .view_work {
    padding: 15px 36px;
  }
  /* ============= responsive navbar css end =========== */
}
@media (max-width: 991.98px) {
  /* ============= responsive navbar css start =========== */
  #navbar_part .itemcontainer {
    margin-top: 20px;
  }
  #navbar_part .custom_navbar li a {
    background-color: var(--button_color);
    margin: 10px 0;
    text-align: center;
    color: var(--secondary_color);
    border-radius: 6px;
  }
  #navbar_part .btn {
    width: 100%;
  }
  #navbar_part .banner_left h1 {
    font-size: 32px;
  }
  #navbar_part .banner_left p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  #navbar_part .view_work {
    border-radius: 11px;
  }
  #navbar_part .view_pricing a {
    background-color: var(--button_color);
    padding: 15px 36px;
    border-radius: 11px;
  }

  /* ============= responsive navbar css end =========== */

  /* =============   Features part css responsive start =========== */
  #Features_part .headinag h2 {
    font-size: 39px;
    line-height: 52px;
  }
  #Features_part .icon_box {
    margin-top: 30px;
    text-align: center;
  }
  #Features_part .icon_box h3 {
    margin-top: 12px;
  }
  #Features_part .icon_box p {
    text-align: center;
  }
  /* =============  Features part css responsive css end =========== */
  /* ============= client part  responsive css start =========== */
  #client_part {
    padding: 0;
  }
  #client_part .client_right h4 {
    font-size: 25px;
    line-height: 40px;
  }
  /* ============= client part responsive css end =========== */
  /* ============= faq part responsive css start =========== */

  #faq_part .faq_left h3 {
    font-size: 36px;
  }
  #faq_part .accordion_part .accordion_text_right span {
    padding-right: 52px;
  }
  /* ============= faq part responsive css end =========== */
  /* ============= inquiry part responsive css start =========== */
  #inquiry_part {
    padding: 0px 0;
  }
  #inquiry_part .inquiry_left img {
    width: 110%;
  }
  #inquiry_part .inquiry_right .inquiry_text .h3_text h3 {
    text-align: center;
    margin-bottom: 16px;
  }
  #inquiry_part .inquiry_right .inquiry_text .h3_text p {
    font-size: 18px;
  }
  #inquiry_part .inquiry_right .Button_box a {
    border-radius: 41px;
    background: var(--button_color);
    color: var(--secondary_color, #1b1c2b);
    padding: 6px 178px;
  }

  /* ============= inquiry part responsive css end =========== */
  /* ============= footer part responsive css start =========== */
  #footer_part .footer_left p {
    font-size: 20px;
  }
  #footer_part .footer_left .footer_contact {
    margin-top: 30px;
  }
  #footer_part .footer_right {
    text-align: center;
  }
  /* ============= footer part responsive css end =========== */
  /* ============= footer nav part responsive css start =========== */
  #footer_nav_part .custom_navbar li a {
    background-color: var(--button_color);
    margin: 10px 0;
    text-align: center;
    color: var(--secondary_color);
    border-radius: 6px;
  }
  /* ============= footer nav part responsive css end =========== */
}
@media (max-width: 767.98px) {
  /* ============= navbar responsive css start =========== */
  #navbar_part .banner_left h1 {
    font-size: 23px;
  }
  #navbar_part .view_pricing a {
    width: 100%;
    margin: 20px 0;
  }
  /* ============= navbar responsive css end =========== */
  /* ============= work_part responsive css start =========== */
  #work_part .work_left_side h1 {
    font-size: 40px;
  }
  #work_part .work_left_side p {
    font-size: 14px;
  }
  #work_part .Strategy h2 {
    font-size: 30px;
  }
  #work_part .Strategy p {
    font-size: 11px;
  }
  /* ============= work_part responsive css end =========== */
}
