@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
div,
img,
li {
  margin: 0;
  padding: 0;
}
:root {
  --Poppins: "Poppins", sans-serif;
  --primary_color: #1c1e53;
  --secondary_color: #282938;
  --white_color: #fff;
  --button_color: #fcd980;
  --sectoin_banner_color: #f4f6fc;
  --icon-color: #2405f2;
}
/* ============= navbar css start =========== */
#navbar_part {
  background: var(--primary_color);
  padding: 32px 0 100px;
}
#navbar_part .custom_navbar li a {
  color: var(--white_color);
  font-family: var(--Poppins);
  font-size: 16px;
  font-weight: 500;
  margin-right: 26px;
}
#navbar_part .btn {
  border: none;
  background-color: transparent;
  color: var(--white_color);

  padding: 16px 45px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.37);
}
#navbar_part .banner_left h1 {
  color: var(--white_color);

  font-family: var(--Poppins);
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
}
#navbar_part .banner_left p {
  color: var(--white_color);
  font-family: var(--Poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
}
#navbar_part .view_work {
  padding: 15px 55px;
  background: var(--button_color);
  border-radius: 41px;
}
#navbar_part .view_pricing a {
  line-height: 0;
}
/* ============= navbar css end =========== */
/* ============= work part css start =========== */
#work_part {
  padding: 100px 0;
  background-color: var(--sectoin_banner_color);
}
#work_part .work_left_side h1 {
  color: var(--primary_color);
  font-family: var(--Poppins);
  font-size: 48px;
  font-weight: 600;
}
#work_part .work_left_side p {
  color: var(--secondary_color);
  font-family: var(--secondary_color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
#work_part .work_left_side a {
  color: var(--icon-color);
  font-family: var(--Poppins);
  font-size: 18px;
  font-weight: 500;
}
#work_part .Strategy h2 {
  color: var(--secondary_color, #282938);
  font-family: var(--Poppins);
  font-size: 32px;
  font-weight: 500;
}
#work_part .Strategy p {
  color: var(--secondary_color, #282938);
  font-family: var(--Poppins);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
/* ============= work part css start =========== */

/* ============= project part css srart =========== */
#project_part .text_left h3 {
  color: var(--secondary_color, #282938);
  font-family: var(--Poppins);
  font-size: 48px;
  font-weight: 600;
}
#project_part .text_right a {
  color: var(--secondary_color) #282938;
  font-family: var(--Poppins);
  font-size: 16px;
  font-weight: 500;
}
#project_part .big_image {
  position: relative;
  overflow: hidden;
}
#project_part .big_image .overlay {
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background-color: var(--icon-color, #2405f2);
  opacity: 0.7;
  transition: all linear 0.3s;
}
#project_part .big_image:hover .overlay {
  left: 0;
}
#project_part .big_image .overlay .overlay_text {
  margin-top: 280px;
  margin-left: 48px;
  position: absolute;
}
#project_part .big_image .overlay .overlay_text h2 {
  color: var(--white_color, #fff);
  font-family: var(--Poppins);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
#project_part .big_image .overlay .overlay_text p {
  color: var(--white_color, #fff);
  font-family: var(--Poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.8;
}
#project_part .big_image .overlay .overlay_text a {
  color: var(--button_color, #fcd980);
  font-family: var(--Poppins);
  font-size: 16px;
  font-weight: 500;
}
#project_part .small_img {
  position: relative;
  overflow: hidden;
}
#project_part .small_img .overlay_1 {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--icon-color, #2405f2);
  opacity: 0.7;
  transition: all linear 0.3s;
}
#project_part .small_img:hover .overlay_1 {
  left: 0;
}
#project_part .small_img .overlay_1 .overlay_text_1 {
  margin-top: 110px;
  margin-left: 40px;
}
#project_part .small_img .overlay_1 .overlay_text_1 h2 {
  color: var(--white_color, #fff);
  font-family: var(--Poppins);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  padding-right: 50px;
}
#project_part .small_img .overlay_1 .overlay_text_1 a {
  color: var(--button_color, #fcd980);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
/* ============= project part css end =========== */
/* =============  Features part css start =========== */
#Features_part {
  padding: 100px 0;
  background-color: var(--sectoin_banner_color);
}
#Features_part .headinag h6 {
  color: var(--secondary_color, #282938);
  font-family: var(--Poppins);
  font-size: 16px;
  font-weight: 500;
}
#Features_part .headinag h2 {
  color: var(--secondary_color, #282938);
  font-family: var(--Poppins);
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
#Features_part .icon_box {
  padding: 50px 23px 48px 30px;
  background-color: var(--white_color);
  box-shadow: 0px 0px 8px 0px rgba(94, 86, 86, 0.09);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(94, 86, 86, 0.09);
  -moz-box-shadow: 0px 0px 8px 0px rgba(94, 86, 86, 0.09);
  transition: all linear 0.3s;
}
#Features_part .icon_box:hover {
  box-shadow: 0px 1px 15px 0px rgba(38, 36, 36, 0.29);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(38, 36, 36, 0.29);
  -moz-box-shadow: 0px 1px 15px 0px rgba(38, 36, 36, 0.29);
}
#Features_part .icon_box h3 {
  color: var(--Poppins, #282938);
  font-family: var(--Poppins);
  font-size: 24px;
  font-weight: 500;
}
#Features_part .icon_box p {
  color: var(--secondary_color, #282938);
  font-family: var(--Poppins);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  opacity: 0.7;
}
/* ============= Features part css end =========== */
/* =============  client part css start =========== */
#client_part {
  padding: 100px 0;
}
#client_part .client_left h2 {
  color: var(--secondary_color, #282938);
  font-family: var(--Poppins);
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
}
#client_part .client_left p {
  color: var(--secondary_color, #282938);
  font-family: var(--Poppins);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
#client_part .client_right h4 {
}
/* =============  client part css end =========== */
